/* 그래프, 웹 크롤링 영역 */
.hidden {
   display: none;
}

.show {
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
   margin-top: 10px;
   width: 100%;
   opacity: 0;
   transition: 0.3s;
}
.show {
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
   margin-top: 10px;
   width: 100%;
   opacity: 1;
}
.show div {
   width: 95%;
   display: flex;
   flex-direction: column;
   align-items: center;
   margin: 10px 0;
}

.show_dataFrame_area {
   display: flex;
   align-items: center;
   font-size: 15px;
   padding: 15px 25px;
   width: 12% !important;
   background-color: #b6e0ed;
   border-radius: 50px;
   cursor: pointer;

   -webkit-user-select:none;
   -moz-user-select:none;
   -ms-user-select:none;
   user-select: none;
}

.fade_in {
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
   margin-top: 10px;
   width: 100%;
   opacity: 0;
}
.fade_out {
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
   margin-top: 10px;
   width: 100%;
   opacity: 1;
   transition: 0.3s;
}
.fade_out {
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
   margin-top: 10px;
   width: 100%;
   opacity: 0;
}

.main_area {
   display:          flex;
   flex-direction:   column;
   align-items:      center;
   margin-bottom: 30px;
   background-color: rgba(255, 255, 255, 0.54);
}

graph, dataframe {
   width: 100%;
}

sub {
   font-size: smaller;
}

/* 데이터 분석 영역 */
description {
   margin: 2% 0 10% 0;
   width: 95%;
}

ul {
   padding-left: 2%;
}

description ul li, h3 {
   font-family: "Nanum Gothic", serif;
}

.ecoFriendlyCar_desc li {
   font-size: 1.1rem;
   padding: 5px 0;
}

/* 웹 크롤링 */
.comment_area {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin: 25px 5% 30px 5%;
   /* background-color: white; */
   width: 95%;
   height: 30vw;
}
comment {
   display: flex;
   flex-direction: row;
}

/* <show> 태그 */
show {
   color:       #656668;
   font-family: "NanumSquareNeo-Variable", serif;
}
show:hover {
   color: black;
   font-weight: bolder;
}

/* 충전소 지도 -> 데이터프레임 없음 */
#df_eco5_btn, 
#df_eco6_btn {
   display: none;
}