/* 헤더 영역 */
.header {
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 50px 0;
   font-family: "NanumSquareNeo-Variable", serif;
   font-size: 50px;
   font-weight: bold;
   cursor: default;
   -webkit-user-select:none;
   -moz-user-select:none;
   -ms-user-select:none;
   user-select: none;
}

.tab_bar_area {
   display:             flex;
   flex-direction:      row;
   justify-content:     center;
   align-items:         center;
   font-family:         "NanumSquareNeo-Variable", serif;
   font-size:           18px;
   font-weight: bold;
   -webkit-user-select: none;
   -moz-user-select:    none;
   -ms-user-select:     none;
   user-select:         none;
}

.tab_common {
   display: flex;
   justify-content: center;
   width:            10vw;
   padding:          30px 15vw;
}
.tab_selected {
   cursor:           default;
   background-color: #9bd8ec;
   color: black;
}
.tab_none {
   cursor:           pointer;
   background-color: #e7edef;
   color:            #808080;
}
.tab_none:hover {
   background-color: #b6e0ed;
}
.tab_selected div,
.tab_none div {
   width: auto;
}