/* 나눔고딕체 */
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

.nanumgothic * {
   font-family: 'Nanum Gothic', sans-serif;
}

/* 나눔스퀘어네오체 */
@font-face {
   font-family: 'NanumSquareNeo-Variable';
   src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
   font-weight: normal;
   font-style: normal;
}

body {
   display: flex;
   justify-content: center;
   background-color: #f6f9fc;
}

.all_area {
   display: flex;
   flex-direction: column;
   width: 80vw;
   margin-bottom: 10px;
}

/* 헤더 영역 */
.header {
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 50px 0;
   font-family: "NanumSquareNeo-Variable", serif;
   font-size: 50px;
   font-weight: bold;
   cursor: default;
   -webkit-user-select:none;
   -moz-user-select:none;
   -ms-user-select:none;
   user-select: none;
}

.tab_bar_area {
   display:             flex;
   flex-direction:      row;
   justify-content:     center;
   align-items:         center;
   font-family:         "NanumSquareNeo-Variable", serif;
   font-size:           18px;
   font-weight: bold;
   -webkit-user-select: none;
   -moz-user-select:    none;
   -ms-user-select:     none;
   user-select:         none;
}

.tab_common {
   display: flex;
   justify-content: center;
   width:            10vw;
   padding:          30px 15vw;
}
.tab_selected {
   cursor:           default;
   background-color: #9bd8ec;
   color: black;
}
.tab_none {
   cursor:           pointer;
   background-color: #e1edf1;
   color: #808080;
}
.tab_none:hover {
   background-color: #b6e0ed;
}
.tab_selected div,
.tab_none div {
   width: auto;
}

/* 그래프, 웹 크롤링 영역 */
.show {
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   margin-top: 20px;
   transition-duration: 1s;
}

.hidden {
   display: none;
}

.main_area {
   display:          flex;
   flex-direction:   column;
   align-items:      center;
   background-color: #f0f0f4;
}

.img_car {
   height: 28vw;
   width: 37vw;
}

.show div {
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   margin: 1.5% 0;
}

graph {
   padding: 0 15px;
}

/* 데이터 분석 영역 */
description {
   margin: 2% 3%;
}

ul {
   padding-left: 2%;
}

description ul li, h3 {
   font-family: "Nanum Gothic", serif;
}

.ecoFriendlyCar_desc li {
   font-size: 1.1rem;
   padding: 5px 0;
}

.comment_area {
   margin: 25px 5% 0 5%;
   background-color: white;
   width: 100%;
   height: 30vw;
   transition-duration: 1s;
}